{% extends '::base.html.twig' %}

{% block body %}

    {% for tag in tags %}
        <h2>{{ tag.fullname }}</h2>
        <a href="{{ path( 'filter_run_simple', { id: tag.id } ) }}">find files</a><br/>
        {% if tag.children %}
            My direct children:
            <ul>
                {% for childRelation in tag.children %}
                    <li>{{ childRelation.name }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if tag.nonPrimaryParents %}
            My other parents:
            <ul>
                {% for parentRelation in tag.nonPrimaryParents %}
                    <li>{{ parentRelation.name }}</li>
                {% endfor %}
            </ul>
        {% endif %}

    {% endfor %}

{% endblock %}