{% extends '::base.html.twig' %}

{% block body %}

    <h1>{{ file.id }}</h1>

    Available:
    <ul>
        {% for tag in availableTags %}
            <li>{{ tag.name }}</li>
        {% endfor %}
    </ul>

{% endblock %}